

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(45, 9, 114));
    margin: 0 auto;
}

header {
    background-color: #2b0f6d;
    box-shadow: 0 2px 10px rgba(85, 16, 141, 0.1);
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
   
}
img{
    height: 100px;
   
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 0.5 rem 0.5;
    position: relative;
}

.nav-links a:hover {
    color: #2b1266;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #32115e;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.login-btn {
    background-color: #2f1052;
    color: rgb(59, 20, 95);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-left: 2rem;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #320a57;
    color: rgb(40, 18, 92);
}

.login-btn::after {
    display: none;
}

/* Menu responsivo */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: rgba(56, 17, 88, 0.938);
    margin: 3px 0;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #2f0f58;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        transition: left 0.3s ease;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .menu-toggle {
        display: flex;
    }

    .login-btn {
        margin-left: 0;
    }
}

main{
    background-color: rgb(255, 255, 255);
    height: 700px;
}

footer{
    background-color: rgb(255, 255, 255);
    height: 200px;
}


